@model IEnumerable <eLifeWEB.Models.Conversation>
@using eLifeWEB.Models 
@{
    ViewBag.Title = "Чаты";
}

<h2>Чаты</h2>
 
<table class="table">
    <tr>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (ViewBag.Role == "patient")
                {
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                }
                else
                {
                    @Html.DisplayFor(modelItem => new ApplicationDbContext().Users.Find( item.PatientId).Name)
                }
            </td>
            <td>
                @Html.ActionLink("Написать", "Chat", new { interlocutorId = (ViewBag.Role == "patient")?(item.Doctor.Id):(item.PatientId) })

            </td>
        </tr>
    }

</table>



