@model IEnumerable <eLifeWEB.Models.Conversation>
@{
    ViewBag.Title = "Чаты";
}

<h2>Чаты</h2>

<table class="table">
    <tr>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (ViewBag.Role == "Patient")
                {
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                }
            </td>
            <td>
                @Html.ActionLink("Написать", "Chat", new { DoctorId = item.Doctor.Id, PatientId = item.Patient.Id })
            </td>
        </tr>
    }

</table>



