###################
# compiled source #
###################
# Visual Studio (>=2015) project-specific, machine local files
.vs/
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.CoreCompileInputs.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.pdb
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csprojAssemblyReference.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csprojAssemblyReference.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.GenerateResource.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.GenerateResource.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.GenerateResource.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.GenerateResource.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.FileListAbsolute.txt
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.CoreCompileInputs.cache
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.csproj.FileListAbsolute.txt
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.dll
eLifeWEB/eLifeWEB/obj/Debug/eLifeWEB.pdb