@{
    ViewBag.Title = "Подтверждение почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для для продолжения регистрации", "ChoiceRoleRegister", "Account")
    </p>
</div>
