@{
    ViewBag.Title = "Подтверждение почты";
}


@Styles.Render("~/Content/stepper.css")
<div class="col mx-auto mb-4 stepper">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="completed">
            <a class="persistant-disabled" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1">
                <span class="round-tab">1</span>
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a class="persistant-disabled" data-toggle="tab" aria-controls="stepper-step-2" role="tab" title="Step 2">
                <span class="round-tab">2</span>
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a class="persistant-disabled" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
                <span class="round-tab">3</span>
            </a>
        </li>
    </ul>
</div>

<h2 class="mx-auto" style="display: table">Дякуємо за підтвердження електронної пошти.</h2>
<div>
    <blockquote class="blockquote">
        <p class="mx-auto" style="display: table">
            @Html.ActionLink("Натисніть тут для продовження регістрації", "ChoiceRoleRegister", "Account")
        </p>
    </blockquote>
</div>